parameters:
    level: 6
    paths:
        - inc
        - index.php
        - functions.php
    errorFormat: ticketswap
    editorUrl: 'vscode://file/%%file%%:%%line%%'

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor/ticketswap/phpstan-error-formatter/extension.neon
